.fond{
	left:0%;
	top:0%;
	width:100%;
	height:100%;
	z-index:0;
	position: absolute;
}
.premiere{
	position: absolute;
	left:0%;
	top:0%;
	width:100%;
	margin:auto;
	z-index:1;
}

table{
    border-collapse: collapse; 
}
td
{
    border: 1px solid black;
}