body{
	background:linear-gradient(45deg, blue, #00ffff);
}

h2{
	top:0%;
	color:yellow;
	z-index:2;
	position:absolute;
	text-align:center;
	font-size:65px;
}

.conteneur{
	top:30%;
	width:100%;
	height: 10%;
	position:absolute;
	background: blue;
	z-index:1;
}
.mesBoutons{
	display:flex;
	z-index:2;
	margin-left: 10%;
	/* pour avoir le decalage des boutons*/
	height:100%;
	width:90%;
	background:linear-gradient(45deg, blue, #00ffff);
	/*position:absolute;
	background: yellow;*/
}
button{
	margin:15%;
	width: 200px;
	height:100%;
	margin-top: 0px;
	margin-left:0px;
	background-color:blue;
	color: white;
	/*Margin top=0px pour le coller en haut*/
}

button:hover{
	margin:15%;
	width: 200px;
	height:100%;
	margin-top: 0px;
	margin-left:0px;
	background-color:blue;
	color: red;
}